      
      <%- include('seo'); %>
      
  <%- include('header'); %>      
  <div class="container">
            
	 	<div class="p-3">
	 		<h1 class="text-center p-2 h1-m">La Misión de Nuestra Empresa latina en Filadelfia</h1>
	 		<p class="text-center p-acer">
		Mantenemos sus instalaciones a un nivel del que estará orgulloso.
		Queremos brindar una experiencia como ninguna otra en nuestro campo. No solo limpiamos, destacamos. Cuando nos perdemos algo que puede disminuir ese merito, lo corregimos inmediatamente. Ese ha sido nuestro camino desde que comensamos.</p>
		<ul>
		    <li><p class="p-i"><strong>Integridad</strong>: Nos enorgullecemos de ser transparentes con nuestro personal y clientes para asegurarnos de que todos estamos en la misma página. Esto se extiende al personal al que encomendamos el cuidado de sus instalaciones.</p></li>
		    <li><p class="p-r"> <strong>Resistencia</strong>: A medida que crecemos juntos como familia, somos conscientes de que las cosas pueden ponerse difíciles, pero estamos totalmente comprometidos a apoyar a su empresa en todas sus necesidades de custodia.</p> </li>
		    <li><p class="p-s"><strong>Satisfacción</strong>: Estamos totalmente comprometidos a lograr y superar sus deseos, expectativas y necesidades.</p></li>
		    
		</ul>  		
 	</div>

 <div class="accordion accordion-flush w-100 " id="accordionFlushExample">
	<h1 class="h1-fr text-center mb-3">Preguntas Frecuentes </h1>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">

      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ¿siempre tendré el mismo equipo viniendo a mi casa? 
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> Hacemos todo lo posible para enviar el mismo equipo. Sin embargo, puede haber circunstancias imprevistas que dificulten el horario o el grupo para ese día.

      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ¿Necesito proporcionar algo?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Traemos todos nuestros propios suministros, incluida la aspiradora. Si hay algo en particular que le gustaría que usemos, puede dejárnoslo saber.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        ¿Necesito estar en casa para la limpieza?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Por primera vez, sería bueno conocer a sus proveedores de servicios. o puede dejar una llave en un lugar seguro o hacer otros arreglos para que podamos entrar a su casa. </div>
    </div>


  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
      ¿Como y cuando pago mi servicio de limpieza?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Requerimos que el pago se realice en el momento del servicio de limpieza residencial. El precio se te dará en el momento de la finalización o si necesitas salir, el supervisor estimará el pago que debes dejar.</div>
    </div>

    
  </div>

</div>
</div>
</div>
<%- include('footer'); %>
       