
<head>
        
  <%- include('seo'); %>
</head>


<%- include('header'); %>
<div class="d-flex justify-content-center p-4">
<div class="accordion accordion-flush w-50 " id="accordionFlushExample" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed mt-3 p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <span class="span1"> ¿Cómo se propaga la COVID-19 entre las personas?</span>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body "><p>Sabemos que la enfermedad está provocada por el virus SARS-CoV-2, que se propaga de una persona a otra de varias formas diferentes.
El virus puede propagarse a través de pequeñas partículas líquidas expulsadas por una persona infectada por la boca o la nariz al toser, estornudar, hablar, cantar o respirar. Las partículas tienen diferentes tamaños, desde las más grandes, llamadas «gotículas respiratorias», hasta las más pequeñas, o «aerosoles».
</p> 
 <ul class="mt-2">
         <li><p>Los datos disponibles actualmente apuntan a que el virus se propaga principalmente entre personas que están en estrecho contacto, por lo general a menos de un metro (distancia corta). Una persona puede infectarse al inhalar aerosoles o gotículas que contienen virus o que entran en contacto directo con los ojos, la nariz o la boca.</p></li>


         <li><p>El virus también puede propagarse en espacios interiores mal ventilados y/o concurridos, donde se suelen pasar largos periodos de tiempo. Ello se debe a que los aerosoles permanecen suspendidos en el aire o viajan a distancias superiores a un metro (distancia larga).</p></li>

      <li><p>También es posible infectarse al tocar superficies contaminadas por el virus y posteriormente tocarse los ojos, la nariz o la boca sin haberse lavado las manos.</p></li>
            
 </ul>
 <p class="mt-3">Continúan las investigaciones para entender mejor la propagación del virus y qué entornos conllevan más riesgos y por qué. También se están estudiando las nuevas variantes del virus y por qué algunas son más transmisibles (enlace a los informes de situación de la OMS).</p>
</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <span class="span2">¿Cuándo Trasmiten el virus las personas infectadas?</span> 
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><p>Tengan o no tengan síntomas, las personas infectadas pueden transmitir el virus a otras personas.</p>
<p>Los informes de laboratorio sugieren que, aparentemente, las personas infectadas son más contagiosas justo antes de que aparezcan los síntomas (a saber, dos días antes) y en la primera fase de la enfermedad. Las personas que desarrollan enfermedad grave pueden ser contagiosas por más tiempo.</p>
    
        <p>Aunque nunca tengan síntomas, algunas personas pueden transmitir el virus a otras; no está claro aún con qué frecuencia ocurre esto, por lo que es preciso seguir investigando a ese respecto.</p>
      </div>
        

    </div>

  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <span class="span3">¿Cuál es la diferencia entre las personas asintomáticas y las  presintomáticas? ¿No se refieren ambos a personas que no tienen síntomas?</span>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Sí, ambos términos se refieren a personas que no tienen síntomas. La diferencia es que las personas asintomáticas son aquellas que, a pesar de estar infectadas, no presentan síntomas en ningún momento durante la infección, mientras que las presintomáticas son las que aún no tienen síntomas, pero los tendrán más adelante</div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading4">
      <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
        <span class="span4">¿Hay entornos en los que la COVID-19 se puede propagar con mayor facilidad?</span>
      </button>
    </h2>
    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><p>
              
Sí, toda situación que suponga estrecha proximidad entre personas durante mucho tiempo incrementa el riesgo de transmisión. Los lugares interiores, especialmente aquellos cuya ventilación es deficiente, entrañan mayores riesgos que los espacios al aire libre. Las actividades en las que se expulsan más partículas por la boca, como cantar o respirar rápidamente durante la práctica del ejercicio físico, también incrementan el riesgo de transmisión.</p>
        
        <p>En los establecimientos de salud donde se recibe tratamiento contra la COVID-19 hay mayor riesgo de infección durante los procedimientos médicos que generan aerosoles. Durante esos procedimientos pueden producirse pequeñas gotículas que pueden quedarse suspendidas en el aire durante más tiempo y propagarse más allá de la distancia que se mantiene durante una conversación (por lo general 1 metro).</p>


        <p>Por ello los trabajadores de la salud que realizan esos procedimientos o que se encuentran en tales entornos deberían tomar medidas específicas de protección contra las partículas en suspensión, en particular mediante el uso de equipo de protección personal apropiado, como mascarillas autofiltrantes. Esa es la razón también por la que no se permite la entrada de visitantes a las zonas en las que se realizan procedimientos de ese tipo.</p>
</div> 
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading5">
      <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
        <span class="span5">¿Como puedo reducir mi riesgo de contrer la COVID-19?</span> 
      </button>
    </h2>
    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><p>Es mucho lo que podemos hacer para protegernos y proteger a nuestros seres queridos contra la COVID-19. Conozca los riesgos y redúzcalos. Respete las siguientes precauciones básicas:</p>

        <ul>
            <li><p>Siga las orientaciones locales: Tome conocimiento de las orientaciones de las autoridades nacionales, regionales y locales, a fin de contar con la información más pertinente al lugar en que se encuentre.</p></li>
            <li><p>Guarde la distancia adecuada: Manténgase al menos a un metro de otras personas, incluso aunque no parezcan estar enfermas, puesto que es posible tener el virus sin manifestar síntomas.</p></li>
            <li><p>Póngase mascarilla: Utilice una mascarilla de tres capas que se ajuste bien, especialmente cuando no sea posible mantener la distancia física, o en interiores. Límpiese las manos antes de ponerse y quitarse la mascarilla.</p></li>
            <li><p>Evite los lugares concurridos, los interiores mal ventilados y el contacto prolongado con otras personas. Pase más tiempo al aire libre que en interiores.</p></li>
        
            <li><p>La ventilación es importante: Abra las ventanas de los lugares cerrados con el fin de aumentar el volumen de aire exterior.</p></li>
        
            <li><p>Evite tocar superficies, especialmente en entornos públicos o en los establecimientos de salud, por si las ha tocado alguna persona con COVID-19. Limpie periódicamente las superficies con desinfectantes normales.</p></li>
            <li><p>Lévese frecuentemente las manos con agua y jabón o con un gel hidroalcohólico. De ser posible, lleve consigo gel hidroalcohólico y utilícelo con frecuencia.</p></li>
        
            <li><p>Al toser o estornudar, cúbrase la boca y la nariz con el codo flexionado o con un pañuelo y tire inmediatamente los pañuelos usados en una papelera cerrada. A continuación, lávese las manos o desinféctelas con gel hidroalcohólico.</p></li>
        
            <li><p>Vacunarse: Cuando le llegue el turno, vacúnese. Seguir las orientaciones y recomendaciones locales sobre la vacunación.</p></li>
        </ul>
      </div>
    </div>
  </div>

</div>
</div>
<%- include('footer'); %>
