<!DOCTYPE html>
<html lang="es">
    
<body>
    <a href="https://api.whatsapp.com/send?phone=2672665779"  class="btn-wsp" target="_blank"> <img src="/img/whatsap3.png" alt="whatsap" class="whatsap"></a>

    <button class="sidebar-toggle">
        <img src="img/bars2.png" width="22bvh" height="20vh" alt="bars">
    </button>

<header class="header">
    
    <div class="div-flex">
            
        <div class="h2-title-magic">                
             
             <a href="/" class="home-a"><img src="img/logoo.png" width="100vh" class="logo-t" height="85vh" alt="logo"></a>
             <a href="/" class="home-a"><h2 class="h2-title">Magic Cleaning</h2></a> 
        </div>
            <nav class="nav">                                            
            <ul class="ul-1">
                <li class="li-1"><a class="a-1" href="/">Inicio</a></li>
                <li class="li-1"><a class="a-1" href="/empleo">Estamos Contratando</a></li>
                <li class="li-1"><a class="a-1" href="/acerca">Nuestro Objetivo</a></li>
                <li class="li-1"><a class="a-1" href="/contacto" id="#contact1">Contacto</a></li>     
            </ul>
            </nav>
        
        </div>        
    
</header>

