    <head>
      
        <%- include('seo'); %>

</head>
    
        <%- include('header'); %>
        <div class="container">
            <h4 class="mt-5">Cambios en los términos de uso</h4>
            <p>Podremos revisar y actualizar estos Términos de uso en cualquier momento a nuestra entera discreción. Todos los cambios se harán efectivos inmediatamente cuando los publiquemos y afectarán a cualquier acceso y uso del Sitio web a partir de ese momento. La continuación del uso del Sitio web tras la publicación de los Términos de uso revisados implica que usted acepta los cambios. Se espera que compruebe la página periódicamente para que conozca cualquier cambio, puesto que son vinculantes para usted.</p>

            <h4>Acceso al Sitio web y seguridad de la cuenta</h4>
            <p>Nos reservamos el derecho a cancelar o modificar este Sitio web y cualquier servicio o material que proporcionemos en él, a nuestra entera discreción y sin aviso. No nos haremos responsables si, por cualquier motivo, el Sitio web o parte de este no está disponible en algún momento o durante algún periodo. Cada cierto tiempo, podemos restringir el acceso a los usuarios, incluidos los usuarios registrados, a algunas partes del Sitio web o al Sitio web por completo.</p>

            Usted tiene la responsabilidad de:
            <ul>
                <li><p>Realizar todas las gestiones necesarias para acceder al Sitio web.</p></li>

                <li><p>Asegurarse de que todas las personas que accedan al Sitio web a través de su conexión de Internet conozcan estos Términos de uso y los cumplan.</p></li>

                <p>Para acceder al Sitio web o a algunos de los recursos que ofrece, es posible que se le pida que proporcione algunos datos de registro u otra información. Es una condición del uso que usted hace del Sitio web que toda la información que aporte en dicho sitio sea correcta, actual y esté completa. Usted acepta que toda la información que proporciona para configurar en este sitio web o de otro modo, incluido, entre otros, el uso de cualquier elemento interactivo del sitio web, se rige por nuestra Política de privacidad y consiente todas las acciones que realizamos relacionados su Información de acuerdo con nuestra Política de privacidad.</p>

                <p>Si escoge o se le proporciona un nombre de usuario, contraseña o cualquier otro dato como parte de nuestros procedimientos de seguridad, debe tratar dicha información como confidencial y no debe revelarla a ninguna persona o entidad. Usted reconoce que su cuenta es personal y acepta no facilitar el acceso a este Sitio web ni a partes de este a ninguna otra persona mediante el uso de su nombre de usuario, contraseña u otra información de seguridad. Se compromete a notificarnos inmediatamente de cualquier acceso o uso no autorizado de su nombre de usuario o contraseña, o de cualquier infracción de seguridad. También se compromete a asegurarse de salir de su cuenta al final de cada sesión. Debe tener especial precaución al acceder a su cuenta desde un ordenador público o compartido para que nadie pueda ver o registrar su contraseña u otra información personal.</p>
                <p>Tenemos derecho a deshabilitar cualquier nombre de usuario, contraseña u otro identificador, escogido por usted o facilitado por nuestra parte, en cualquier momento, si, en nuestra opinión, ha infringido alguna disposición de estos Términos de uso.</p>
                </ul>

                <h4>Contribuciones del usuario</h4>
                <p>El Sitio web puede contener páginas web o perfiles de plantillas personales y otros elementos interactivos (en conjunto, “Servicios interactivos”) que permitan a los usuarios mostrar, enviar, publicar o transmitir a otros usuarios u otras personas (en adelante, “publicar”) contenido o materiales (en conjunto, “Contribuciones del usuario”) en o a través del Sitio web. Todas las Contribuciones del usuario deben cumplir con los estándares de contenido establecidos en estos Términos de uso.</p>

                <p>Cualquier Contribución del usuario que publique en el Sitio se considerará no confidencial y pública. Al proporcionar cualquier Contribución del usuario en el Sitio web, nos concede a nosotros y a nuestras filiales y proveedores de servicios, y a cada uno de sus respectivos licenciatarios, sucesores y cesionarios, el derecho a utilizar, reproducir, modificar, realizar, visualizar, distribuir y revelar de otro modo a terceros cualquier material de este tipo para cualquier propósito.</p>

                <span>Usted declara y garantiza que:</span>
                <ul>
                    <li><p>Posee o controla todos los derechos en y para las Contribuciones del usuario y que tiene el derecho de otorgarnos el permiso concedido anteriormente a nosotros y nuestras filiales y proveedores de servicios, y a cada uno de sus respectivos licenciatarios, sucesores y cesionarios.</p></li>

                    <li><p>Todas las Contribuciones del usuario cumplen y cumplirán estos Términos de uso.</p></li>
                    </ul>

                    <p>Usted reconoce y acepta que es responsable de cualquier Contribución del usuario que presente o en la que participe, y que usted, y no la Empresa, es totalmente responsable de dicho contenido, incluida su legalidad, fiabilidad, precisión y adecuación.</p>


                    <h4>Estándares de contenido</h4>
                    <p>Estos estándares de contenido se aplican a todas las Contribuciones del usuario y a cualquier uso de los Servicios interactivos. Las Contribuciones del usuario deben cumplir en su totalidad con todas las leyes y reglamentos federales, estatales, locales e internacionales vigentes. Sin limitarse a lo anteriormente citado, las Contribuciones del usuario no deben:</p>
                    <ul>
                        <li><p>Contener ningún material difamatorio, obsceno, indecente, abusivo, ofensivo, acosador, violento, odioso, provocativo ni objetable de otro modo.</p></li>

                        <li><p>Infringir ninguna patente, marca, secreto comercial, derechos de autor u otra propiedad intelectual, ni ningún otro derecho de ninguna persona.</p></li>

                        <li><p>Infringir los derechos legales (incluidos los derechos de publicidad y privacidad) de otros o incluir cualquier material que pueda derivar en una responsabilidad civil o penal según las leyes y reglamentos vigentes, o que de otro modo pueda entrar en conflicto con estos Términos de uso y nuestra Política de privacidad.</p></li>

                        <li><p>Promover ninguna actividad legal ni abogar, promover ni asistir a ningún acto ilegal.</p></li>

                        <li><p>Provocar molestias, inconvenientes o ansiedad innecesaria, o poder molestar, avergonzar, alarmar u ofender a cualquier otra persona.</p></li>

                    </ul>

                
                         
        </div>
        <%- include('footer'); %>
